body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

canvas {
  border: 1px solid #000;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Centra verticalmente el contenido en la parte inferior */
}

#controls{
  margin-top: 10px;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  box-shadow: 0px 10px 10px black;
}

.direccion {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(69, 81, 255);
  border-radius: 50%;
  color: white;
  font-size: large;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 1s;
}

.direccion:hover {
  padding-left: 23px;
  padding-right: 23px;
  background-color: rgb(5, 19, 220);
  
  transition: 1s;
}

.direccion:active {
  padding: 10px;
  background-color: rgb(0, 213, 255);
  color:rgb(0, 26, 65);
  scale: 0.98;
  box-shadow: 0px 0px 10px black;
}
table{
  
  background-color: rgb(51, 50, 104);
  color: white;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(124, 124, 176);
  border-radius: 10px;
}
td{
  text-align: center;
  border: 1px solid white;
}
